.category-section {
    padding: 50px 0; /* Espaçamento interno */
    background-color: #f8f9fa; /* Cor de fundo */
}
.product-container {
    display: flex;
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal */
    scroll-snap-type: x mandatory; /* Torna a rolagem mais suave */
    -webkit-overflow-scrolling: touch; /* Adiciona rolagem suave em dispositivos iOS */
    padding: 20px 0;
}
.product-item {
    flex: 0 0 calc(25% - 20px); /* Define a largura dos itens */
    background-color: #fff; /* Cor de fundo do item */
    border: 1px solid #ddd; /* Borda */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    margin-right: 20px; /* Espaçamento à direita */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    scroll-snap-align: start; /* Alinha cada item à borda inicial do contêiner */
}
.product-item img {
    max-width: 100%; /* Imagem responsiva */
    margin-bottom: 15px; /* Espaçamento abaixo */
}
.product-item h4 {
    margin-bottom: 10px; /* Espaçamento abaixo */
}
.product-item p {
    margin-bottom: 15px; /* Espaçamento abaixo */
}
.product-item button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Remover borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar por cima */
}
.product-item button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar por cima */
}
.carousel-control-prev, .carousel-control-next {
    width: auto; /* Ajusta a largura das setas conforme o tamanho do conteúdo */
    background-color: transparent; /* Remove o fundo das setas */
    border: none; /* Remove a borda */
    font-size: 1.5rem; /* Tamanho do ícone */
    color: #000; /* Cor do ícone */
}
.carousel-control-prev:focus, .carousel-control-next:focus {
    outline: none; /* Remove o contorno ao focar */
}
.product-details {
    overflow: hidden; /* Para conter elementos flutuantes */
}

.product-price {
    float: left; /* Alinha o preço à esquerda */
}

.float-right {
    float: right; /* Alinha o botão "Comprar" à direita */
}

.product-description {
    font-size: 14px; /* Define o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
}