@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body, .page-container {
    margin: 0; /* Remove toda a margem da página e do container */
}

.page-container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* Centraliza o container horizontalmente */
    background-color: rgb(255, 255, 255);
}

/* Estilos para o menu de categorias */
.menu {
    position: absolute; /* Define a posição absoluta */
    top: 0; /* Posiciona o menu no topo */
    left: 0; /* Posiciona o menu no lado esquerdo */
    z-index: 1000; /* Define um z-index alto para garantir que o menu fique acima de outros elementos */
    /* Outros estilos do menu */
}
.my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

card-img-top img-fluid {
    height: 280px;
}

body {
    background: hsl(0, 0, 94%);
}
    

/* Diminuindo o título e alinhando à esquerda */
h1 {
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estilizando o card title e card text */
.card-title {
    color: #6c757d; /* Cinza */
    font-size: 0.75rem; /* Tamanho da fonte menor */
    margin-bottom: 0.5rem; /* Reduz o espaço abaixo do título */
}

.card-text {
    font-weight: bold; /* Texto da marca do produto em negrito */
}

/* Linha horizontal preta */
.hr-black {
    height: 1px; /* Altura da linha */
    background-color: black; /* Cor da linha */
    margin-top: 10px; /* Margem superior */
    margin-bottom: 10px; /* Margem inferior */
    width: calc(100% + 35px); /* Largura total mais a margem para cobrir toda a largura do card */
    position: relative;
    left: -18px; /* Move a linha para a esquerda para cobrir a margem */
}

/* Estilizando o botão */
.btn-primary {
    background-color: #013E22; /* Cor de fundo personalizada */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Deixa o botão mais arredondado */
    padding: 7px 12px; /* Ajusta o padding para diminuir o tamanho */
    font-size: 0.875rem; /* Tamanho da fonte menor */
}

/* Ajustando a posição do preço e botão */
.card-footer {
    display: flex; /* Flex container */
    justify-content: space-between; /* Alinha os itens nas extremidades */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-top: auto; /* Empurra para o fim da div */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem bordas */
    padding: 0; /* Remove padding */
}

/* Centralizando o preço horizontalmente */
.card-footer .fw-bold {
    margin-right: auto; /* Adiciona margem automática à direita */
    margin-left: auto; /* Adiciona margem automática à esquerda */
    color: #013E22;
    font-weight: bold; 
    font-size: 10px;
}

/* Tamanho responsivo para o preço */
@media (max-width: 768px) {
    .card-body .fw-bold {
        font-size: 0.875rem; /* Tamanho da fonte para dispositivos menores */
    }
}

@media (min-width: 769px) {
    .card-body .fw-bold {
        font-size: 1rem; /* Tamanho da fonte para dispositivos maiores */
    }
}

