.container {
    background-color: transparent;
    padding: 2rem;
    padding-top: 0rem;
    border-radius: 0.5rem;
}

/* Estilização para o logo */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 200px;
    height: auto;
}

.border-right {
    border-right: 1px solid #dee2e6;
}

h2 {
    margin-bottom: 1rem;
}

h5 {
    margin-top: 1.5rem;
}

/* Estilização dos títulos */
h2,
h5 {
    color: #013E22;
    /* Cor dos títulos */
}

.btn-primary {
    margin-top: 1rem;
}

.border-right {
    border-right: 1px solid #013E22;
    /* Cor da linha do meio em dispositivos menores */
}


@media (max-width: 576px) {
    .border-right {
        border-right: none;
    }

    .container {
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .col-md-6+.col-md-6 {
        margin-top: 4rem;
        /* Aumenta a distância entre os formulários no celular */
    }
}

/* Estilo para a caixa de marcação */
.form-control {
    width: 100%;
    height: 50px;
    /* Aumenta a altura dos inputs */
    font-size: 1.2rem;
    /* Aumenta o tamanho da fonte dos inputs */
    color: #333;
    /* Cor do texto nos inputs */
    border: 1px solid #6F6F6F;
    /* Adiciona uma borda preta */
    border-radius: 5px;
    /* Arredonda as bordas dos inputs */
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-check-input {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.1rem;
    border: 1px solid #ced4da;
    border-radius: 30%;
    /* Muda para um círculo */
    appearance: none;
    /* Remove o estilo padrão */
    background-color: transparent;
    /* Remove o fundo padrão */
}

/* Estilização para o ponto de verificação */
.form-check-input:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.9rem;
    height: 0.9rem;
    background-color: #013E22;
    /* Cor do ponto verde */
    border-radius: 50%;
    /* Bordas arredondadas para criar um círculo */
}

/* Estilização para o texto do label */
.form-check-label {
    margin-left: 10px;
    /* Ajuste conforme necessário */
}

/* Estilização para a caixa de marcação quando marcado */
.form-check-input:checked {
    background-color: transparent !important;
    /* Remove o fundo azul quando marcado */
    border-color: #ced4da;
    /* Mantém a borda padrão */
}

/* Estilização dos placeholders */
.form-control::placeholder {
    font-size: 0.9rem;
    /* Diminui o tamanho do placeholder */
    color: #B5B5B5;
    /* Cor do placeholder */
}

/* Estilização dos botões */
.btn {
    padding: 12px 30px;
    /* Aumenta o padding dos botões */
    font-size: 1.2rem;
    /* Aumenta o tamanho da fonte dos botões */
    border-radius: 10px;
    /* Arredonda as bordas dos botões */
}

/* Centralização dos botões */
.btn-primary {
    display: block;
    margin: 0 auto;
}

/* Estilização para o link "Esqueci a senha" */
.forgot-password {
    text-align: right;
    margin-top: 150px;
    font-size: 0.9rem; /* Diminui o tamanho da fonte */
    color: #666; /* Cor do texto */
}

/* Estilos para os botões */
.btn-lg {
    padding: 10px 20px; /* Ajuste o padding conforme necessário para aumentar o tamanho */
    font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme desejado */
}

/* Centraliza os botões */
.form-group button {
    margin: 10px auto; /* Centraliza os botões horizontalmente */
    display: block; /* Faz com que os botões ocupem a largura disponível */
}

/* Espaçamento entre os formulários */
.form-container {
    margin-top: 20px; /* Espaçamento entre os formulários */
}